html
{
    font-family: "Roboto", "Microsoft YaHei";
}

nav
{
	overflow: hidden;
}

.btn-page
{
    margin-bottom: 0;
    padding: 0 1rem;
    overflow: hidden;
}

.row
{
    margin-bottom: 0;
}

.header
{
	color: #ee6e73;
	font-weight: 300;
}

.footer-copyright
{
    margin-top: 20px;
}